<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright(c) 2022 TechSure Co., Ltd. All Rights Reserved.
  ~ 本内容仅限于深圳市赞悦科技有限公司内部传阅，禁止外泄以及用于其他的商业项目。
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="codedriver.module.tenant.dao.mapper.TestMapper">
    <select id="testBg" resultType="java.util.HashMap">
        SELECT *
        FROM user BG{user.id}
    </select>


    <select id="getContent" resultType="java.lang.String">
        SELECT compress_content
        FROM test_content
        where id = 1
    </select>

    <insert id="insertContent">
        REPLACE INTO test_content (id, content, compress_content)
        values (1, #{value}, #{value,typeHandler=CompressHandler})
    </insert>
</mapper>

