<?xml version="1.0" encoding="UTF-8" ?>


<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="neatlogic.module.tenant.dao.mapper.ChangelogAuditMapper">
    <!-- flushInterval、size、readOnly、blocking属性对ehcache不起作用 -->
    <cache type="neatlogic.framework.dao.cache.NeatLogicConcurrentSafeCache">
        <!-- 二选一：TTI 或 TTL（都配的话以 TTL 为准，见下方实现） -->
        <!-- 缓存项在未被访问时的最长存活时间, 基于访问时间的过期 -->
        <!-- <property name="timeToIdleSeconds" value="300"/> -->
        <!-- 缓存项从创建到过期的总时间, 基于创建时间的过期 -->
        <property name="timeToLiveSeconds" value="300"/>
        <!-- Ehcache 堆内条目数 -->
        <property name="heapEntries" value="100"/>
    </cache>

    <select id="getChangelogAuditCount" parameterType="neatlogic.framework.dto.ChangelogAuditVo" resultType="int">
        SELECT
            count(1)
        FROM `changelog_audit` a
        LEFT JOIN `changelog_audit_detail` b ON b.`hash` = a.`sql_hash`
        WHERE a.`tenant_uuid` = #{tenantUuid}
        <if test="version != null and version != ''">
            AND a.`version` LIKE concat('%', #{version}, '%')
        </if>
        <if test="sqlStatus != null">
            AND a.`sql_status` = #{sqlStatus}
        </if>
        <if test="keyword != null and keyword != ''">
            AND b.`sql` LIKE concat('%', #{keyword}, '%')
        </if>
    </select>

    <select id="getChangelogAuditList" parameterType="neatlogic.framework.dto.ChangelogAuditVo" resultType="neatlogic.framework.dto.ChangelogAuditVo">
        SELECT
            a.`version`,
            a.`tenant_uuid` AS tenantUuid,
            a.`module_id` AS moduleId,
            a.`sql_hash` AS sqlHash,
            a.`sql_status` AS sqlStatus,
            a.`error_msg` AS errorMsg,
            a.`ignored`,
            a.`lcd`,
            b.`sql`
        FROM `changelog_audit` a
        LEFT JOIN `changelog_audit_detail` b ON b.`hash` = a.`sql_hash`
        WHERE a.`tenant_uuid` = #{tenantUuid}
        <if test="version != null and version != ''">
            AND a.`version` LIKE concat('%', #{version}, '%')
        </if>
        <if test="sqlStatus != null">
            AND a.`sql_status` = #{sqlStatus}
        </if>
        <if test="keyword != null and keyword != ''">
            AND b.`sql` LIKE concat('%', #{keyword}, '%')
        </if>
        ORDER BY a.`lcd` DESC
        LIMIT #{startNum},#{pageSize}
    </select>
</mapper>
