<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="neatlogic.module.tenant.dao.mapper.MenuMobileMapper">
    <cache type="neatlogic.framework.dao.cache.NeatLogicCache" flushInterval="30000" size="100">
        <!-- 二选一：TTI 或 TTL（都配的话以 TTL 为准，见下方实现） -->
        <property name="timeToLiveSeconds" value="300"/>
        <!-- <property name="timeToLiveSeconds" value="300"/> -->
        <!-- Ehcache 堆内条目数 -->
        <property name="heapEntries" value="100"/>
    </cache>
    <select id="getMenuMobileList" resultType="neatlogic.module.tenant.dto.MenuMobileVo">
        select name, label, icon, config as configStr,sort
        from menu_mobile order by sort asc
    </select>
</mapper>

