<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="neatlogic.module.tenant.dao.mapper.MenuMobileMapper">
    <cache type="neatlogic.framework.dao.cache.NeatLogicCache" flushInterval="30000" size="100"/>
    <select id="getMenuMobileList" resultType="neatlogic.module.tenant.dto.MenuMobileVo">
        select name, label, icon, config as configStr,sort
        from menu_mobile order by sort asc
    </select>
</mapper>

