<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="neatlogic.module.tenant.dao.mapper.ModuleManageSettingMapper">

    <select id="getModuleManageSetting" resultType="neatlogic.framework.dto.module.ModuleManageSettingVo">
        SELECT
            `id`,
            `config` AS configStr
        FROM `module_manage_setting`
        LIMIT 1
    </select>

    <insert id="insertModuleManageSetting" parameterType="neatlogic.framework.dto.module.ModuleManageSettingVo">
        INSERT INTO `module_manage_setting` (
            `id`,
            `config`
        )
        VALUES (
            #{id},
            #{configStr, typeHandler=CompressHandler}
        )
        ON DUPLICATE KEY UPDATE
            `config` = #{configStr, typeHandler=CompressHandler}
    </insert>
</mapper>
