<?xml version="1.0" encoding="UTF-8" ?>


<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="neatlogic.module.tenant.dao.mapper.TestMapper">
    <select id="testBg" resultType="java.util.HashMap">
        SELECT *
        FROM user BG{user.id}
    </select>


    <select id="getContent" resultType="java.lang.String">
        SELECT compress_content
        FROM test_content
        where id = 1
    </select>

    <insert id="insertContent">
        REPLACE INTO test_content (id, content, compress_content)
        values (1, #{value}, #{value,typeHandler=CompressHandler})
    </insert>

    <select id="getProcessTaskByIdForUpdate" parameterType="java.lang.Long" resultType="java.util.HashMap">
        select `id` from `processtask` where `id` = #{value} for update
    </select>

    <select id="getGzipContentCountByTableNameAndColumnName" resultType="int">
        SELECT COUNT(1) FROM `${tableName}` WHERE `${columnName}` LIKE 'GZIP:%'
    </select>

    <resultMap id="gzipContentMap" type="java.util.LinkedHashMap">
        <result column="content" property="content" typeHandler="org.apache.ibatis.type.ObjectTypeHandler"/>
    </resultMap>

    <select id="getGzipContentListByTableNameAndColumnName" resultMap="gzipContentMap">
        SELECT `${columnName}` AS content FROM `${tableName}` WHERE `${columnName}` LIKE 'GZIP:%' LIMIT 10
    </select>

    <update id="updateGzipContentByTableNameAndColumnName">
        UPDATE `${tableName}` SET `${columnName}` = #{newContent} WHERE `${columnName}` = #{oldContent}
    </update>
</mapper>

