<?xml version="1.0" encoding="UTF-8" ?>
<!--
Copyright(c) 2023 NeatLogic Co., Ltd. All Rights Reserved.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="neatlogic.module.tenant.dao.mapper.TestMapper">
    <select id="testBg" resultType="java.util.HashMap">
        SELECT *
        FROM user BG{user.id}
    </select>


    <select id="getContent" resultType="java.lang.String">
        SELECT compress_content
        FROM test_content
        where id = 1
    </select>

    <insert id="insertContent">
        REPLACE INTO test_content (id, content, compress_content)
        values (1, #{value}, #{value,typeHandler=CompressHandler})
    </insert>

    <select id="getProcessTaskByIdForUpdate" parameterType="java.lang.Long" resultType="java.util.HashMap">
        select `id` from `processtask` where `id` = #{value} for update
    </select>
</mapper>

